[submodule "extensions/CategoryTree"]
	path = extensions/CategoryTree
	url = https://github.com/TimotheeJamin/mediawiki-extensions-CategoryTree
	branch = recapitulo1_35_3
[submodule "extensions/Cite"]
	path = extensions/Cite
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Cite
	branch = recapitulo1_35_3
[submodule "extensions/CiteThisPage"]
	path = extensions/CiteThisPage
	url = https://github.com/TimotheeJamin/mediawiki-extensions-CiteThisPage
	branch = recapitulo1_35_3
[submodule "extensions/CodeEditor"]
	path = extensions/CodeEditor
	url = https://github.com/TimotheeJamin/mediawiki-extensions-CodeEditor
	branch = recapitulo1_35_3
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://github.com/TimotheeJamin/mediawiki-extensions-ConfirmEdit
	branch = recapitulo1_35_3
[submodule "extensions/Gadgets"]
	path = extensions/Gadgets
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Gadgets
	branch = recapitulo1_35_3
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = https://github.com/TimotheeJamin/mediawiki-extensions-ImageMap
	branch = recapitulo1_35_3
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://github.com/TimotheeJamin/mediawiki-extensions-InputBox
	branch = recapitulo1_35_3
[submodule "extensions/Interwiki"]
	path = extensions/Interwiki
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Interwiki
	branch = recapitulo1_35_3
[submodule "extensions/LocalisationUpdate"]
	path = extensions/LocalisationUpdate
	url = https://github.com/TimotheeJamin/mediawiki-extensions-LocalisationUpdate
	branch = recapitulo1_35_3
[submodule "extensions/MultimediaViewer"]
	path = extensions/MultimediaViewer
	url = https://github.com/TimotheeJamin/mediawiki-extensions-MultimediaViewer
	branch = recapitulo1_35_3
[submodule "extensions/Nuke"]
	path = extensions/Nuke
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Nuke
	branch = recapitulo1_35_3
[submodule "extensions/OATHAuth"]
	path = extensions/OATHAuth
	url = https://github.com/TimotheeJamin/mediawiki-extensions-OATHAuth
	branch = recapitulo1_35_3
[submodule "extensions/PageImages"]
	path = extensions/PageImages
	url = https://github.com/TimotheeJamin/mediawiki-extensions-PageImages
	branch = recapitulo1_35_3
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://github.com/TimotheeJamin/mediawiki-extensions-ParserFunctions
	branch = recapitulo1_35_3
[submodule "extensions/PdfHandler"]
	path = extensions/PdfHandler
	url = https://github.com/TimotheeJamin/mediawiki-extensions-PdfHandler
	branch = recapitulo1_35_3
[submodule "extensions/Poem"]
	path = extensions/Poem
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Poem
	branch = recapitulo1_35_3
[submodule "extensions/Renameuser"]
	path = extensions/Renameuser
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Renameuser
	branch = recapitulo1_35_3
[submodule "extensions/ReplaceText"]
	path = extensions/ReplaceText
	url = https://github.com/TimotheeJamin/mediawiki-extensions-ReplaceText
	branch = recapitulo1_35_3
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Scribunto
	branch = recapitulo1_35_3
[submodule "extensions/SecureLinkFixer"]
	path = extensions/SecureLinkFixer
	url = https://github.com/TimotheeJamin/mediawiki-extensions-SecureLinkFixer
	branch = recapitulo1_35_3
[submodule "extensions/SpamBlacklist"]
	path = extensions/SpamBlacklist
	url = https://github.com/TimotheeJamin/mediawiki-extensions-SpamBlacklist
	branch = recapitulo1_35_3
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://github.com/TimotheeJamin/mediawiki-extensions-SyntaxHighlight_GeSHi
	branch = recapitulo1_35_3
[submodule "extensions/TemplateData"]
	path = extensions/TemplateData
	url = https://github.com/TimotheeJamin/mediawiki-extensions-TemplateData
	branch = recapitulo1_35_3
[submodule "extensions/TextExtracts"]
	path = extensions/TextExtracts
	url = https://github.com/TimotheeJamin/mediawiki-extensions-TextExtracts
	branch = recapitulo1_35_3
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://github.com/TimotheeJamin/mediawiki-extensions-TitleBlacklist
	branch = recapitulo1_35_3
[submodule "extensions/VisualEditor"]
	path = extensions/VisualEditor
	url = https://github.com/TimotheeJamin/mediawiki-extensions-VisualEditor
	branch = recapitulo1_35_3
[submodule "extensions/WikiEditor"]
	path = extensions/WikiEditor
	url = https://github.com/TimotheeJamin/mediawiki-extensions-WikiEditor
	branch = recapitulo1_35_3
[submodule "skins/MonoBook"]
	path = skins/MonoBook
	url = https://github.com/TimotheeJamin/mediawiki-skins-MonoBook
	branch = recapitulo1_35_3
[submodule "skins/Timeless"]
	path = skins/Timeless
	url = https://github.com/TimotheeJamin/mediawiki-skins-Timeless
	branch = recapitulo1_35_3
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://github.com/TimotheeJamin/Vector
	branch = recapitulo1_35_3
[submodule "vendor"]
	path = vendor
	url = https://github.com/TimotheeJamin/mediawiki-vendor
	branch = recapitulo1_35_3
[submodule "extensions/UniversalLanguageSelector"]
	path = extensions/UniversalLanguageSelector
	url = https://github.com/TimotheeJamin/mediawiki-extensions-UniversalLanguageSelector
	branch = recapitulo1_35_3
[submodule "extensions/Popups"]
	path = extensions/Popups
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Popups
	branch = recapitulo1_35_3
[submodule "extensions/MobileFrontend"]
	path = extensions/MobileFrontend
	url = https://github.com/TimotheeJamin/mediawiki-extensions-MobileFrontend
	branch = recapitulo1_35_3
[submodule "extensions/FlaggedRevs"]
	path = extensions/FlaggedRevs
	url = https://github.com/TimotheeJamin/mediawiki-extensions-FlaggedRevs
	branch = recapitulo1_35_3
[submodule "extensions/Echo"]
	path = extensions/Echo
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Echo
	branch = recapitulo1_35_3
[submodule "extensions/Flow"]
	path = extensions/Flow
	url = https://github.com/TimotheeJamin/mediawiki-extensions-Flow
	branch = recapitulo1_35_3
[submodule "skins/MinervaNeue"]
	path = skins/MinervaNeue
	url = https://github.com/TimotheeJamin/mediawiki-skins-MinervaNeue
	branch = recapitulo1_35_3
[submodule "extensions/DisplayTitle"]
	path = extensions/DisplayTitle
	url = https://github.com/TimotheeJamin/mediawiki-extensions-DisplayTitle
	branch = recapitulo1_35_3
[submodule "extensions/ApprovedRevs"]
	path = extensions/ApprovedRevs
	url = http://github.com//TimotheeJamin/mediawiki-extensions-ApprovedRevs
	branch = recapitulo1_35_3
	